:root {
    --bg-black:#141414;
    --text-sea:#f4faf3;
    --title-orange:#FF4A1C;
    --accent-grey: #565656;
    --accent-orange:#ffa38c;
}

.inter-regular {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Regular weight */
    font-style: normal;
  }
  
  .inter-bold {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 700; /* Bold weight */
    font-style: normal;
  }  

body {
    margin:auto;
    padding:20px;
    max-width:720px;
    text-align:left;
    word-wrap:break-word;
    overflow-wrap:break-word;
    line-height:1.3;
    
    color:var(--text-sea);
    background-color: var(--bg-black);

  }

li {
    line-height: 1.5;
}

h1, h2, h3 {
   color:var(--title-orange);
   font-family: "Space Mono", serif;
   line-height: .7;
}

.title {
    font-style: oblique;
}

p, a, li {
    font-family: "Inter", serif;    
}

.date {
    font-style: italic;
    color: var(--accent-grey);
}

a {
    color: var(--accent-orange);
}

nav a {
    color:var(--accent-orange);
    margin-right: 2%;
    text-decoration: none;
    line-height: 1;
}

img {
    max-width: 720px;
}