<!DOCTYPE html>
<html>
    <head>
        <title>Authors</title>
    </head>
    <body>
        {% include 'base.html.jinja' %}
        {% block content %}
        <h1>Author Info</h1>
        <p>Here you can view and manage authors for our books.</p>

        <!-- Author Table -->
        <h2>Authors Table</h2>
        <table border="2">
            <thead>
                <tr>
                    <th>Author ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Biography</th>
                </tr>
            </thead>
            <tbody>
                {% for author in authors %}
                <tr>
                    <td>{{ author.author_id }}</td>
                    <td>{{ author.first_name }}</td>
                    <td>{{ author.last_name }}</td>
                    <td>{{ author.biography }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Add Author</h2>
        <form method="post" action="#">
            <label>First Name: <input type="text" name="first_name" required></label><br>
            <label>Last Name: <input type="text" name="last_name" required></label><br>
            <label>Biography: <textarea name="biography"></textarea></label><br>
            <button type="submit">Add Author</button>
        </form>
        <hr><br>

        <h2>Edit Author</h2>
        <form method="post" action="#">
            <label>Author ID:
                <select name="author_ID">
                    {% for author in authors %}
                    <option value="{{ author.author_id }}">{{ author.first_name }} {{ author.last_name }}</option>
                    {% endfor %}
                </select>
            </label><br>
            <label>New First Name: <input type="text" name="first_name"></label><br>
            <label>New Last Name: <input type="text" name="last_name"></label><br>
            <label>Biography: <textarea name="biography"></textarea></label><br>
            <button type="submit">Edit Author</button>
        </form>
        <hr><br> <!--what is this-->

        <h2>Delete Author</h2>
        <form method="post" action="#">
            <label>Author ID:
                <select name="author_ID">
                    {% for author in authors %}
                    <option value="{{ author.author_id }}">{{ author.first_name }} {{ author.last_name }}</option>
                    {% endfor %}
                </select>
            </label><br>
            <button type="submit">Delete Author</button>
        </form>
        <hr><br>
        {% endblock %}
    </body>
</html>
