<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/main.css') }}">
    </head>
    <body>
        {% include 'header.html.jinja' %}
        {% block content %}{% endblock %}
    </body>
</html>