<!DOCTYPE html>
<html>
    <head>
        <title>Books</title>
    </head>
    <body>

        {% include 'base.html.jinja' %}
        {% block content %}
        <h1>Book Inventory</h1>
        <p>Here you can update our inventory of books, add new titles, or delete retired editions.</p>

        <h2>Books Table</h2>
        <table border="2">
            <thead>
                <tr>
                    <th>Book ID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Synopsis</th>
                    <th>Audience</th>
                    <th>Language</th>
                    <th>Format</th>
                    <th>Publishing Date</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <td>{{ book.book_ID}}</td>
                    <td>{{ book.title}}</td>
                    <td>{{ book.author}}</td>
                    <td>{{ book.synopsis}}</td>
                    <td>{{ book.audience}}</td>
                    <td>{{ book.language}}</td>
                    <td>{{ book.format}}</td>
                    <td>{{ book.publishing_date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Add Book</h2>
        <form method="post" action="addBook">
            <label>Title: <input type="text" name="title" required></label><br>
            <label>Author: 
                <label>Author: 
                    <select name="author_ID">
                        {% for author in authors %}
                        <option value="{{ author.author_ID }}">{{ author.first_name }} {{ author.last_name }}</option>
                        {% endfor %}
                    </select>
                </label><br>                           
            <label>Synopsis: <textarea name="synopsis" required></textarea></label><br>
            <label>Audience:
                <select name="audience">
                    <option value="Youth">Youth</option>
                    <option value="Middle-grade">Middle-grade</option>
                    <option value="YA">YA</option>
                    <option value="Adult">Adult</option>
                    <option value="Misc">Misc</option>
                </select>
            </label><br>
            <label>Format:
                <select name="format" required>
                    <option value="Hardcover">Hardcover</option>
                    <option value="Paperback">Paperback</option>
                    <option value="Ebook">Ebook</option>
                    <option value="Audio">Audio</option>
                    <option value="Large Print">Large Print</option>
                </select>
            </label><br>
            <label>Language: <input type="text" name="language" required></label><br>
            <label>Publishing Date: <input type="date" name="publishing_date"></label><br>
            <button type="submit">Add Book</button>
        </form>
        <hr><br>

        <h2>Update Book</h2>
        <form method="post" action="editBook">
            <label>Book ID:
                <select name="book_ID">
                    {% for book in books %}
                    <option value="{{ book.book_ID }}">{{ book.book_ID }} {{ book.book_title }}</option>
                    {% endfor %}
                </select>
            </label><br>
            <label>Title: <input type="text" name="title"></label><br>
            <label>Author: 
                <select name="author_ID">
                    {% for author in authors %}
                    <option value="{{ author.author_ID }}">{{ author.first_name }} {{ author.last_name }}</option>
                    {% endfor %}
                </select>
            </label><br>
            <label>Synopsis: <textarea name="synopsis" required></textarea></label><br>
            <label>Audience:
                <select name="audience">
                    <option value="Youth">Youth</option>
                    <option value="Middle-grade">Middle-grade</option>
                    <option value="YA">YA</option>
                    <option value="Adult">Adult</option>
                    <option value="Misc">Misc</option>
                </select>
            </label><br>
            <label>Format:
                <select name="format" required>
                    <option value="Hardcover">Hardcover</option>
                    <option value="Paperback">Paperback</option>
                    <option value="Ebook">Ebook</option>
                    <option value="Audio">Audio</option>
                    <option value="Large Print">Large Print</option>
                </select>
            </label><br>
            <label>Language: <input type="text" name="language"></label><br>
            <label>Publishing Date: <input type="date" name="publishing_date"></label><br>
            <button type="submit">Update Book</button>
        </form>
        <hr><br>


        <h2>Delete Book</h2>
        <form method="post" action="remBook">            
            <label>Book ID:
                <select name="book_ID">
                    {% for book in books %}
                    <option value="{{ book.book_ID }}">{{ book.book_ID }} {{ book.book_title }}</option>
                    {% endfor %}
                </select>
            </label><br>
            <button type="submit">Delete Book</button>
        </form>
        {% endblock %}
    </body>
</html>
