<!DOCTYPE html>
<html>
    <head>
        <title>Book Genres</title>
    </head>
    <body>
        <!-- Nav bar from Template -->
        {% include 'base.html.jinja' %}
        {% block content %}
        <h1>Book Genres</h1>
        <p>Here you can view and add mappings between books and genres.</p>

        <!-- Book_Gernes Table -->
        <h2>Book Genres Table</h2>
        <table border="2">
            <thead>
                <tr>
                    <th>Book Genre ID</th>
                    <th>Book Title</th>
                    <th>Genre Name</th>
                </tr>
            </thead>
            <tbody>
                {% for book_genre in book_genres %}
                <tr>
                    <td>{{ book_genre.book_genre_ID}}</td>
                    <td>{{ book_genre.book_title}}</td>
                    <td>{{ book_genre.genre_name}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Add Book_Gernes Form -->
        <h2>Add Book Genre</h2>
        <form method="post" action="addBookGenre">
            <label>Book Title: 
                <select name="book_ID">
                    <!-- Populate book_ID drop down -->
                    {% for book in books %}
                    <option value="{{ book.book_ID}}">{{ book.book_ID}} {{ book.title }}</option>
                    {% endfor %}
                </select>
            </label><br>
            <label>Genre Name: 
                <select name="genre_ID">
                    <!-- Populate genre_ID drop down -->
                    {% for genre in genres %}
                    <option value="{{ genre.genre_ID}}">{{ genre.genre_ID}} {{genre.genre_name}}</option>
                    {% endfor %}
                </select>
            </label><br>
            <button type="submit">Add Mapping</button>
        </form>

        <!-- Edit Book_Gernes Form -->
        <h2>Edit Book Genre</h2>
        <form method="post" action="editBookGenre">
            <label>Book Genre: 
                <select name="book_genre_ID">
                    <!-- Populate book_genre_ID drop down -->
                    {% for book_genre in book_genres %}
                        <option value="{{ book_genre.book_genre_ID}}">{{ book_genre.book_genre_ID}} {{ book_genre.book_title}}: {{book_genre.genre_name}}</option>
                    {% endfor %}
                </select>
            </label><br>
            <label>Book Title: 
                <select name="book_ID">
                    <!-- Populate book_ID drop down -->
                    {% for book in books %}
                    <option value="{{ book.book_ID}}">{{ book.book_ID}} {{ book.title }}</option>
                    {% endfor %}
                </select>
            </label><br>
            <label>Genre Name: 
                <select name="genre_ID">
                    <!-- Populate genre_ID drop down -->
                    {% for genre in genres %}
                    <option value="{{ genre.genre_ID}}">{{ genre.genre_ID}} {{genre.genre_name}}</option>
                    {% endfor %}
                </select>
            </label><br>
            <button type="submit">Edit Book Genre</button>
        </form>

        <!-- Delete Book_Gernes Form -->
        <h2>Delete Book Genre</h2>
        <form method="post" action="remBookGenre">
            <label>Book Genre:
                <select name="book_genre_ID">
                    <!-- Populate book_genre_ID drop down -->
                    {% for book_genre in book_genres %}
                    <option value="{{ book_genre.book_genre_ID}}">{{ book_genre.book_genre_ID}} {{ book_genre.book_title}}: {{book_genre.genre_name}}</option>
                    {% endfor %}
                </select>
            </label><br>
            <button type="submit">Delete Book Genre</button>
        </form>
        {% endblock %}
    </body>
</html>
