<!DOCTYPE html>
<html>
    <head>
        <title>Checkouts</title>
    </head>
    <body>
        <div class="topnav">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('checkout') }}">Checkout</a>
            <a href="{{ url_for('inventory') }}">View Books</a>
            <a href="{{ url_for('books') }}">Book Management</a>
            <a href="{{ url_for('genre') }}">Genres</a>
            <a href="{{ url_for('account') }}">Account Info</a>
          </div> 

        <h1>Checkout</h1>
        <p>Here you can do lend books to patrons or accept them upon return</p>

        <h2>Process Checkout:</h2>
        <p>Note that checkouts are non-deletable transactions</p>
        <form method="post" action="#">
            <label>Book: 
                <select name="book_ID">
                    <option value="1">Book 1</option>
                    <option value="2">Book 2</option>
                </select>
            </label><br>
            <label>Patron: 
                <select name="patron_ID">
                    <option value="1">Alice</option>
                    <option value="2">Bob</option>
                </select>
            </label><br>
            <label>Checkout Date: <input type="date" name="publishing_date"></label><br>
            <label>Due Date: <input type="date" name="publishing_date"></label><br>
            <button type="submit">Lend Book</button>
        </form>
        <hr><br>

        <h2>Mark book as returned</h2>
        <p>This takes a given checkout event and toggles it to list the book as having been returned</p>
        <label>Checkout (by id): 
            <select name="checkout_ID">
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </label><br>
        <button type="submit">Accept Book</button>
        <hr><br>
    </body>
</html>