<!DOCTYPE html>
<html>
    <head>
        <title>Checkouts</title>
    </head>
    <body>
        {% include 'base.html.jinja' %}
        {% block content %}
        <h1>Checkout History</h1>
        <p>Here you can do lend books to patrons or accept them upon return</p>

        <h2>Checkouts Tables</h2>
        <h3>Active Checkouts</h3>
        <table border="2">
            <thead>
                <tr>
                    <th>Checkout ID</th>
                    <th>Book Title</th>
                    <th>Patron Name</th>
                    <th>Checkout Date</th>
                    <th>Due Date</th>
                    <th>Return Status</th>
                </tr>
            </thead>
            <tbody>
                {% for checkout in active_checkouts %}
                    <tr>
                        <td>{{ checkout.checkout_ID}}</td>
                        <td>{{ checkout.book_title}}</td>
                        <td>{{ checkout.patron_name}}</td>
                        <td>{{ checkout.checkout_date}}</td>
                        <td>{{ checkout.due_date}}</td>
                        <td>{{ checkout.is_returned}}</td>
                    </tr>
                {% endfor %}
        </table>

        <h3>Past Checkouts</h3>
        <table border="2">
            <thead>
                <tr>
                    <th>Checkout ID</th>
                    <th>Book Title</th>
                    <th>Patron Name</th>
                    <th>Checkout Date</th>
                    <th>Due Date</th>
                    <th>Return Status</th>
                </tr>
            </thead>
            <tbody>
                {% for checkout in past_checkouts %}
                    <tr>
                        <td>{{ checkout.checkout_ID}}</td>
                        <td>{{ checkout.book_title}}</td>
                        <td>{{ checkout.patron_name}}</td>
                        <td>{{ checkout.checkout_date}}</td>
                        <td>{{ checkout.due_date}}</td>
                        <td>{{ checkout.is_returned}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Add Checkout:</h2>
        <p>Note that checkouts are non-deletable transactions</p>
        <form method="post" action="addCheckout">
            <label>Book Title: 
                <select name="book_ID">
                    {% for book in books %}
                    <option value="{{ book.book_ID}}">{{ book.book_ID}} {{ book.title }}</option>
                    {% endfor %}
                </select>
            </label><br>
            <label>Patron Name: 
                <select name="patron_ID">
                    {% for patron in patrons %}
                    <option value="{{ patron.patron_ID}}">{{ patron.patron_ID }} {{ patron.first_name }} {{ patron.last_name}}</option>
                    {% endfor %}
                </select>
            </label><br>
            <label>Checkout Date: <input type="date" name="checkout_date" required></label><br>
            <label>Due Date: <input type="date" name="due_date" required></label><br>
            <button type="submit">Lend Book</button>
        </form>
        <hr><br>

        <h2>Mark book as returned</h2>
        <p>This marks a currently checked out book as having been returned. This action is irreversible</p>
        <label>Checkout: 
            <select name="checkout_ID">
                {% for checkout in active_checkouts %}
                <option value="{{ checkout.checkout_ID}}">{{ checkout.checkout_ID}} {{ checkout.patron_name}}: {{ checkout.book_title}}</option>
                {% endfor %}
            </select>
        </label><br>
        <button type="submit">Return Book</button>
        <hr><br>
        {% endblock %}
    </body>
</html>