<!DOCTYPE html>
<html>
    <head>
        <title>Genres</title>
    </head>
    <body>
        {% include 'base.html.jinja' %}
        {% block content %}
        <h1>Genre Info</h1>
        <p>Here you can view and manage genres for our books</p>

        <h2>Genres Tables</h2>
        <table border="2">
            <thead>
                <tr>
                    <th>Genre ID</th>
                    <th>Genre Name</th>
                </tr>
            </thead>
            {% for genre in genres %}
            <tr>
                <td>{{ genre.genre_ID }}</td>
                <td>{{ genre.genre_name }}</td>
            </tr>
            {% endfor %}
        </table>

        <h2>Add Genre</h2>
        <form method="post" action="addGenre">
            <label>Name: <input type="text" name="genre_name" required></label><br>
            <button type="submit">Add Genre</button>
        </form>
        <hr><br>

        <h2>Edit Genre</h2>
        <form method="post" action="editGenre">
            <label>Genre ID:
                <select name="Genre_ID">
                    {% for genre in genres %}
                    <option value="{{ genre.genre_ID }}">{{ genre.genre_ID }} {{ genre.genre_name }}</option>
                    {% endfor %}
                </select>
            </label><br>
            <label>New Name: <input type="text" name="new_genre_name" required></label><br>
            <button type="submit">Edit Genre</button>
        </form>
        <hr><br>

        <h2>Delete Genre</h2>
        <p>Reminder: You cannot delete a genre that is currently linked to a book</p>
        <form method="post" action="remGenre">
            <label>Genre:
                <select name="Genre_ID">
                    {% for genre in genres %}
                    <option value="{{ genre.genre_ID }}">{{ genre.genre_ID }} {{ genre.genre_name }}</option>
                    {% endfor %}
                </select>
            </label><br>
            <button type="submit">Delete Genre</button>
        </form>
        <hr><br>
        {% endblock %}
    </body>
</html>