<!DOCTYPE html>
<html>
    <head>
        <title>Genre Info</title>
    </head>
    <body>
        {% include 'base.html.jinja' %}
        {% block content %}
        <h1>Genre Info</h1>
        <p>Here you can view and manage genres for our books</p>

        <!--Patron Table-->
        <table border="2">
            <thead>
                <tr>
                    <th>Genre ID</th>
                    <th>Genre Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Plays</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Fantasy</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Dystopian</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Cyberpunk</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Postmodern</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Surreal</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Humor</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Nonfiction</td>
                </tr>
            </tbody>
        </table>
        <h2>Add Genre</h2>
        <form method="post" action="#">
            <label>Name: <input type="text" name="genre_name" required></label><br>
            <button type="submit">Add Genre</button>
        </form>
        <hr><br>
        <h2>Edit Genre</h2>
        <form method="post" action="#">
            <label>ID:
                <select name="genre_ID">
                    <option value="">1</option>
                </select>
            </label><br>
            <label>New Name: <input type="text" name="genre_name" required></label><br>
            <button type="submit">Edit Genre</button>
        </form>
        <hr><br>

        <h2>Delete Genre</h2>
        <form method="post" action="#">
            <label>ID:
                <select name="Genre_ID">
                    <option value="">1</option>
                </select>
            </label><br>
            <button type="submit">Delete Genre</button>
        </form>
        <hr><br>
        {% endblock %}
    </body>
</html>