<div class="topnav">
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('checkout') }}">Checkout!</a>
    <a href="{{ url_for('books') }}">Book Manager</a>
    <a href="{{ url_for('genre') }}">Genres</a>
    <a href="{{ url_for('patron') }}">Patron Info</a>
    <a href="{{ url_for('author') }}">Authors</a>
    <a href="{{ url_for('book_genre') }}">Book-Genre Mapping</a>
</div>
