<!DOCTYPE html>
<html>
    <head>
        <title>Patrons</title>
    </head>
    <body>
        {% include 'base.html.jinja' %}
        {% block content %}
        <h1>Patron Info</h1>
        <p>Here you can view and manage accounts for our patrons.</p>

        <!--Patron Table-->
        <h2>Patrons Tables</h2>
        <table border="2">
            <thead>
                <tr>
                    <th>Patron ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Date of Birth</th>
                    <th>Email Address</th>
                    <th>Phone Number</th>
                </tr>
            </thead>
            <tbody>
                {% for patron in patrons %}
                <tr>
                    <td>{{ patron.patron_ID}}</td>
                    <td>{{ patron.first_name}}</td>
                    <td>{{ patron.last_name}}</td>
                    <td>{{ patron.date_of_birth}}</td>
                    <td>{{ patron.email}}</td>
                    <td>{{ patron.phone_number}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Add Patron</h2>
        <form method="post" action="#">
            <label>Patron: <input type="text" name="patron" required></label><br>
            <label>First Name: <input type="text" name="first_name" required></label><br>
            <label>Last Name: <input type="text" name="last_name" required></label><br>
            <label>Date of Birth <input type="date" name="date_of_birth" required></label><br>
            <label>Email Address<input type="email" name="email"></label><br>
            <label>Phone Number<input type="number" name="phone_number"></label><br>
            <button type="submit">Add User</button>
        </form>
        <hr><br>
        
        <h2>Edit Patron</h2>
        <form method="post" action="editPatron">
            <label>ID:
                <select name="patron_ID">
                    {% for patron in patrons %}
                    <option value="{{ patron.patron_ID}}">{{ patron.first_name }} {{ patron.last_name}}</option>
                    {% endfor %}
                </select>
            </label><br>
            <label>First Name: <input type="text" name="first_name" required></label><br>
            <label>Last Name: <input type="text" name="last_name" required></label><br>
            <label>Date of Birth <input type="date" name="date_of_birth" required></label><br>
            <label>Email Address<input type="email" name="email"></label><br>
            <label>Phone Number<input type="number" name="phone_number"></label><br>
            <button type="submit">Add User</button>
        </form>
        <hr><br>

        <h2>Delete Patron</h2>
        <form method="post" action="#">
            <label>ID:
                <select name="patron_ID">
                    {% for patron in patrons %}
                    <option value="{{ patron.patron_ID}}">{{ patron.first_name }} {{ patron.last_name}}</option>
                    {% endfor %}
                </select>
            </label><br>
            <button type="submit">Delete User</button>
        </form>
        <hr><br>
        {% endblock %}
    </body>
</html>