<!DOCTYPE html>
<html>
    <head>
        <title>Patron Info</title>
    </head>
    <body>
        {% include 'base.html.jinja' %}
        {% block content %}
        <h1>Patron Info</h1>
        <p>Here you can view and manage accounts for our patrons.</p>

        <!--Patron Table-->
        <table border="2">
            <thead>
                <tr>
                    <th>Patron ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>DOB</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Alice</td>
                    <td>Smith</td>
                    <td>1990-01-01</td>
                    <td>alice@alice.com</td>
                    <td>555-555-5555</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Bob</td>
                    <td>Jones</td>
                    <td>1980-02-02</td>
                    <td>bob@bob.com</td>
                    <td>555-555-5555</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Eve</td>
                    <td>Johnson</td>
                    <td>1970-03-03</td>
                    <td>eve@nsa.gov</td>
                    <td>555-555-5555</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Mallory</td>
                    <td>Brown</td>
                    <td>1960-04-04</td>
                    <td>mallory@localhost</td>
                    <td>555-555-5555</td>
                </tr>
            </tbody>
        </table>
        <h2>Find User</h2>
        <p>This looks up users. Toggle behavior of search paramaters below:</p>
        <label><input type="radio" name="behavior">OR</label>
        <label><input type="radio" name="behavior">AND</label>
        <form method="post" action="#">
            <label>Patron: <input type="text" name="patron" required></label><br>
            <label>First Name: <input type="text" name="first_name" required></label><br>
            <label>Last Name: <input type="text" name="last_name" required></label><br>
            <label>Date of Birth <input type="date" name="date_of_birth" required></label><br>
            <label>Email Address<input type="email" name="email"></label><br>
            <label>Phone Number<input type="number" name="phone_number"></label><br>
            <button type="submit">Find User</button>
        </form>
        <hr><br>

        <h2>Add User</h2>
        <form method="post" action="#">
            <label>Patron: <input type="text" name="patron" required></label><br>
            <label>First Name: <input type="text" name="first_name" required></label><br>
            <label>Last Name: <input type="text" name="last_name" required></label><br>
            <label>Date of Birth <input type="date" name="date_of_birth" required></label><br>
            <label>Email Address<input type="email" name="email"></label><br>
            <label>Phone Number<input type="number" name="phone_number"></label><br>
            <button type="submit">Add User</button>
        </form>
        <hr><br>
        
        <h2>Edit User</h2>
        <form method="post" action="#">
            <label>ID:
                <select name="patron_ID">
                    <option value="">1</option>
                </select>
            </label><br>
            <label>First Name: <input type="text" name="first_name" required></label><br>
            <label>Last Name: <input type="text" name="last_name" required></label><br>
            <label>Date of Birth <input type="date" name="date_of_birth" required></label><br>
            <label>Email Address<input type="email" name="email"></label><br>
            <label>Phone Number<input type="number" name="phone_number"></label><br>
            <button type="submit">Add User</button>
        </form>
        <hr><br>

        <h2>Delete User</h2>
        <form method="post" action="#">
            <label>ID:
                <select name="patron_ID">
                    <option value="">1</option>
                </select>
            </label><br>
            <button type="submit">Delete User</button>
        </form>
        <hr><br>
        {% endblock %}
    </body>
</html>